html,body,header{
	height:100%;
	font: 300 16px/1.5 Roboto,sans-serif;
	font-family: sans-serif;
}
h1{font-size:300%;}
a{color:white;}
#intro{
	background: url(../img/projects/2012-2019/2014/2.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	height:100%;
}

.top-nav-collapse{
	background-color:rgba(0,0,0,0)
}
@media (max-width:768px){
	.navbar:not(.top-nav-collapse){background:rgba(0,0,0,0)}
}
footer{
background:rgb(35, 70, 136);
}
.rgba-indigo-strong{height:100%;}
.introtwo{
	height:100%;
	background: url(../img/projects/2012-2019/2018/1.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;

}
#light{color:black; cursor :default;font-weight:375;}
#light:hover{color:grey}
#lighten:hover{color:rgba(220,220,220);}
h1,h2,h3,h4,h5,h6,li{cursor :default;}
.rgba-blue-light{height:100%;}

