<!DOCTYPE html>

<html lang="ru">


<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport">
<title>
О компании</title>
<meta content="IE=edge" http-equiv="X-UA-Compatible">

<meta content="text_page" name="metacontent">


<script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18536913-1']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
    </script>

<link href="f/1/global/min/main-pack.css" rel="stylesheet" media="all">
<link href="f/1/global/min/print.css" rel="stylesheet" media="print">
<link href="f/1/global/min/new_inner_page.css" rel="stylesheet" media="all">
<link href="f/1/global/min/page_contacts.css" rel="stylesheet" media="all">
<script src="f/1/global/js/swfobject.js">
 </script>
<style>

      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate),
      .not_display {
      display: none !important;
      }
	  .direct{text-align:center;line-height:normal;margin-top:50%;}
	  .about{display:grid;
	  grid-template-columns:5fr 2fr 14fr 3fr;
	  text-align:justify;
	  color:darkblue;}
	  .text_dir{display:none;text-align:right;font-weight:350;}
	  @media(max-width:900px){.text_box,p{font-size:15px !important;}.direct{display:none;}
	  .dirimg{display:none;}
	  .about{grid-template-columns:1fr;margin:5%;}
	  .direct{display:none;}
	  .text_dir{display:inline;float:right;}
	  }
		header #logo{background:white;}
		.second_logo{display:none;}
		@media(max-width:800px){
		header #logo{background:rgb(35, 70, 136);}
		.first_logo{display:none;}
		.second_logo{display:inline;}
		}
	 
	  
    </style>
</head>
<body class="ru">
<div class="layout">
<div class="page">
<header noindex="true">
<div class="back moby">
&nbsp;</div>
<div class="navigation navigation--novisitedLink">
<menu>
<li>
<a class="no_visited" href="index.html">
Главная</a>
</li>
<li>
<a class="active">
О компании</a>
</li>
<li>
<a class="no_visited" href="OURpath.html">
Направление деятельности</a>
</li>
<li>
<a class="no_visited" href="market.html">
Рынки заказчиков</a>
</li>
<li>
<a class="no_visited" href="projects.html">
Референс лист</a>
</li>
<li>
<a class="no_visited" href="SMI.html">
Сми о нас</a>
</li>

<li>
<a class="no_visited" href="contact.html">
Контактная информация</a>
</li>
</menu>


</div>
<div id="logo">
<div class="second_logo">
<svg enable-background="new 0 0 130 63" height="10px" version="1.1" viewBox="0 0 130 63" width="130px" x="0px" y="0px">
    
			<img alt="ООО A2tech" title="" height="40" src="img/aztec.png" width="110%" class="png"style="margin-left:-5%;">
		</svg></div><div class="first_logo">
		<svg enable-background="new 0 0 130 63" height="10px" version="1.1" viewBox="0 0 130 63" width="130px" x="0px" y="0px">
    
			<img alt="ООО A2tech" title="" height="35" src="img/blue_a2tech.png" width="120%" class="png"style="margin-left:-30%;">
		</svg></div>
</div>

</header>


<div class="about">
	<div class="direct">
		<h3 style="text-align:center;font-weight:450;line-height:normal;"class="text_box">МАКСИМ<br>ИСЬЯНОВ</h3>
		<p style="text-align:center;margin-top:auto;margin-bottom:auto;"class="text_box">Генеральный <br>директор</p>
	</div>
	<div class="dirimg">
		<img src="img/bluearrow.png"width="25%"style="margin-top:auto;margin-bottom:auto;" >
	</div>
	<div>
		<h3 style="font-weight:450;"class="text_box">СТРОИТЕЛЬНАЯ КОМПАНИЯ «А2 ТЭК»</h3>
		<p class="text_box">14-й год наша компания занимается строительством на территории Санкт-Петербурга и Ленинградской области. </p>
		<p class="text_box">В 2005 году мы начали с выполнения работ нулевого цикла. С 2007 года стали возводить каркасы зданий из монолита и сборного железобетона. В 2009 году подписали первый договор генподряда, а в 2014 году ввели в эксплуатацию и продали 120 квартир в собственном проекте малоэтажного жилого комплекса. </p>
		<p class="text_box">Среди наших заказчиков — корпорация Еврохим; группа ЛСР; Обуховский оборонный завод (концерн Алмаз-Антей); ГазпромИнвест; Спецтранс; Обуховоэнерго; Сбербанк; Академия РАН; ГУП Водоканал; Лукойл; Комитет по энергетике и инженерному обеспечению, а также другие застройщики, госкорпорации и бюджетные учреждения. </p>
		<p class="text_box">Квалификация компании позволяет на сегодняшний день уверенно выполнять работы собственными силами до 500 млн. рублей.</p>
		<p class="text_box text_dir">Максим Исьянов(Генеральный директор)</p>
	</div>
	<div></div>
</div>









</div>

<footer noindex="true" class="footer content_wrapper inner">
<div class="col footer__copyright">

<p>
&copy;&nbsp;2005&ndash;2019 <wbr />
ООО&nbsp;&laquo;A2ТЭК&raquo;</p>

<p class="contact-link">+7 (812) 458-09-49</p>
<p class="contact-link">info@a2tech.pro</p>
<p class="contact-link">196105, Санкт-Петербург,Яковлевский пер., д. 11, оф.10</p>
</span>
</div>
</footer>
</div>
<div>
<div pretty-scroll-effect="" data-ng-click="openPopup($event, 'burgerPopup')" class="main_menu_burger" data-ng-class="{'show': activePopup.name === 'burgerPopup'}">
<div class="lay_button">
<span class="lay one">
&nbsp;</span>
<span class="lay two">
&nbsp;</span>
<span class="lay three">
&nbsp;</span>
</div>
</div>
<div data-ng-click="openPopup($event, 'burgerPopup')" data-ng-hide="activePopup.name === 'burgerPopup'" pretty-scroll-effect="" class="main_menu_search" id="search">

<div data-ng-click="closePopup()" class="exit main-exit">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" enable-background="new 0 0 20 20" viewBox="0 0 20 20" height="30px" width="30px" y="0px" x="0px" id="Layer_1" version="1.1">

			<polygon points="20,2.069 17.932,0 10,7.931 2.069,0 0,2.069 7.931,10 0,17.932 2.069,20 10,12.068 17.932,20  20,17.932 12.068,10 " fill="white"/>

		</svg>
</div>
</div>
</div>
<script id="burgerPopup" type="text/ng-template">

<div class="search-field">
<div >

<form autocomplete="off" action="search/index.html">
<p  data-ng-model="popupQuery"></p>

</form>
</div>
<div data-ng-init="mobile_path_burger = 'a2tech'" class="search-field__additional">
<div data-ng-click="mobile_path_burger = 'a2tech'" class="search-field__additional__item" data-ng-class="{'search-field__additional__item-selected': mobile_path_burger ===
            'gazprom'}
          ">
<span class="pseudo_link alt_white">
&laquo;A2ТЭК&raquo;</span>
</div>
<div data-ng-click="mobile_path_burger = 'projects'" class="search-field__additional__item" data-ng-class="{'search-field__additional__item-selected': mobile_path_burger ===
            'projects'}
          ">
<span class="pseudo_link alt_white">
Полезные ссылки</span>
</div>
</div>
</div>
<menu data-ng-show="mobile_path_burger === 'a2tech'" class="menu-map ng-hide" data-ng-class="{'menu-map--disable': popupQuery &amp;&amp; unDisableMenu}">
<div class="menu-map__col">
	<div class="menu-map__section">
<div class="menu-map__head">
	<span>
		<a href="index.html" class="no_visited alt_white">Главная</a>
	</span>
</div>
	<div class="menu-map__item">

	</div>
</div>
	<div class="menu-map__section">
		<div class="menu-map__head">
			<span>
				<a href="OURpath.html" class="no_visited alt_white">Направление деятельности
				</a>
			</span>
		</div>
		<div class="menu-map__item">




		</div>
	</div>
	<div class="menu-map__section">
		<div class="menu-map__head">
			<span>
				<a href="market.html" class="no_visited alt_white">Рынки заказчиков
				</a>
			</span>
		</div>
		<div class="menu-map__item">




		</div>
	</div>
	<div class="menu-map__section">
		<div class="menu-map__head">
			<span>
				<a href="projects.html" class="no_visited alt_white"> Референс-лист
				</a>
			</span>
		</div>
		<div class="menu-map__item">




		</div>
	</div>
	<div class="menu-map__section">
		<div class="menu-map__head">
			<span>
				<a href="SMI.html" class="no_visited alt_white">Сми о нас
				</a>
			</span>
		</div>
		<div class="menu-map__item">




		</div>
	</div>
	<div class="menu-map__section">
		<div class="menu-map__head">
			<span>
				<a href="contact.html" class="no_visited alt_white">Контактная информация
				</a>
			</span>
		</div>
		<div class="menu-map__item">




		</div>
	</div>
</div>

</menu>

</script>


</div>
<script src="f/1/global/min/main-pack.js">
 </script>
<script src="f/1/global/min/angular.js">
 </script>
<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU">
  </script>
<script src="f/1/global/min/page_contacts.js">
 </script>
<div noindex="true" style="display:none;">
<script type="text/javascript">

        
						(function(w, c) {
						(w[c] = w[c] || []).push(function() {
						try {
						w.yaCounter1446573 = new Ya.Metrika({id:1446573,
						clickmap:true,
						trackLinks:true,
						trackHash:true, webvisor:true});
						}
						catch(e) { }
						});
						})(window, "yandex_metrika_callbacks");
					
      </script>
</div>
<script defer type="text/javascript" noindex="true" src="http://mc.yandex.ru/metrika/watch.js">
</script>
<noscript>
<div>
<img alt="" style="position:absolute; left:-9999px;" src="http://mc.yandex.ru/watch/1446573">
</div>
</noscript>
</body>


</html>
