<!DOCTYPE html>

<html lang="ru">


<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
 <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.css" rel="stylesheet">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport">
<title>
А2ТЭК</title>
<meta content="IE=edge" http-equiv="X-UA-Compatible">

<meta content="text_page" name="metacontent">

<script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18536913-1']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
    </script>

<link href="f/1/global/min/main-pack.css" rel="stylesheet" media="all">
<link href="f/1/global/min/print.css" rel="stylesheet" media="print">
<link href="f/1/global/min/new_inner_page.css" rel="stylesheet" media="all">
<link href="f/1/global/min/page_contacts.css" rel="stylesheet" media="all">
<script src="f/1/global/js/swfobject.js">
 </script>
<style>

      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate),
      .not_display {
      display: none !important;
      }
		
	 @media(max-width:800px){#carousel-example-2{display:none;}
	 .dopen{display:inline !important;}.footer{display:none;}.page{padding:30px;}}
	.main-header{font:  500%/0.5 Roboto,sans-serif;border-bottom:6px;font-weight:700;line-height:110%; border-bottom:2px solid hsla(0,0%,100%,.3);}]
	.second-header{margin-top:15px;}
	.fir{margin-bottom:17%;}
	@media(max-width:1120px){.main-header{font:  400%/0.5 Roboto,sans-serif;border-bottom:6px;font-weight:700;line-height:110%; border-bottom:2px solid hsla(0,0%,100%,.3);}]
	.second-header{margin-top:15px;}
	.fir{margin-bottom:13%;}}
	@media(max-width:1020px){.main-header{font:  300%/0.5 Roboto,sans-serif;border-bottom:6px;font-weight:700;line-height:110%; border-bottom:2px solid hsla(0,0%,100%,.3);}]
	.second-header{margin-top:15px;}.fir{margin-bottom:9%;}}
	@media(max-width:920px){.main-header{font:  200%/0.5 Roboto,sans-serif;border-bottom:6px;font-weight:700;line-height:110%; border-bottom:2px solid hsla(0,0%,100%,.3);}]
	.second-header{margin-top:15px;}.fir{margin-bottom:6%;}}
	.main_menu_burger .lay{background:white;}
    </style>
</head>
<body class=" ru">
<div class="layout"style="position:relative;">
<div class="page white">
<header noindex="true">
<div class="back moby">
&nbsp;</div>
<div class="navigation navigation--novisitedLink">
<menu>
<li>
<a class="active" href="#">
Главная</a>
</li>
<li>
<a class="no_visited" href="about.html">
О компании</a>
</li>
<li>
<a class="no_visited" href="OURpath.html">
Направление деятельности</a>
</li>
<li>
<a class="no_visited" href="market.html">
Рынки заказчиков</a>
</li>
<li>
<a class="no_visited" href="projects.html">
Референс лист</a>
</li>
<li>
<a class="no_visited" href="SMI.html">
Сми о нас</a>
</li>


<li>
<a class="no_visited" href="contact.html">
Контактная информация</a>
</li>
</menu>


</div>
 <div id="logo">

	<svg enable-background="new 0 0 130 63" height="10px" version="1.1" viewBox="0 0 130 63" width="130px" x="0px" y="0px">
    
			<img alt="ООО A2tech" title="" height="40" src="img/aztec.png" width="110%" class="png"style="margin-left:-5%;">
		</svg>

</div>



</header>

</div>
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide " data-ride="carousel"style="position:relative;bottom:140px;margin-top:-50px;">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
	<li data-target="#carousel-example-2" data-slide-to="3"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="img/projects/2012-2019/2018/1.jpg"
          alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
	  
      <div class="fir carousel-caption center " style="margin-left:35%;">
        <a class="main-header">Прогулочная<br>зона</a>
        <p class="h6-responsive second-header">Проведение земляных и монолитных работ</p>
      </div>
    </div>
	
   <div class="carousel-item">  
      <div class="view">
        <img class="d-block w-100" src="img/projects/2012-2019/2016/1.jpg"
          alt="Second slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="fir carousel-caption"style="margin-right:35%;">
        <a class="main-header">Спортивный<br>комплекс</a>
        <p class="h6-responsive second-header">Проведение земляных и монолитных работ</p>
      </div>
    </div>
	
	
    <div class="carousel-item">
      
      <div class="view">
        <img class="d-block w-100" src="img/projects/2012-2019/2018/3.jpg"
          alt="Third slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="fir carousel-caption"style="margin-left:35%;">
        <a class="main-header">Парусная школа</a>
        <p class="h6-responsive second-header">Создание входа и слипа для парусной школы </p>
      </div>
    </div>
	<div class="carousel-item">
      
      <div class="view">
        <img class="d-block w-100" src="img/projects/2012-2019/2017/2.jpg"
          alt="Third slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="fir carousel-caption"style="margin-right:35%">
        <a class="main-header">Футбольный<br> стадион</a>
        <p class="h6-responsive second-header">Устройство выкатанного поля, отделка помещений,электромонтажные работы</p>
      </div>
    </div> 
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev"style="margin-top:120px;height:83%;">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next"style="margin-top:120px;height:83%;">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
<section class="dopen"style="display:none;margin"><div>
<div>
<img src="img/projects/mobile_proj/1.jpg" class="img-fluid"></div>
<div>
<img src="img/projects/mobile_proj/2.jpg" class="img-fluid"></div>
<div>
<img src="img/projects/mobile_proj/3.jpg" class="img-fluid"></div>
<div>
<img src="img/projects/mobile_proj/4.jpg" class="img-fluid"></div>

</section>



<footer noindex="true" class="footer content_wrapper inner"style="background:white;margin-top:-140px;">
<div class="col footer__copyright">
<p>
&copy;&nbsp;2005&ndash;2019 <wbr />
ООО&nbsp;&laquo;A2ТЭК&raquo;</p>

<p class="contact-link">+7 (812) 458-09-49</p>
<p class="contact-link">info@a2tech.pro</p>
<p class="contact-link">196105, Санкт-Петербург,Яковлевский пер., д. 11, оф.10</p>
</div>

<div class="col print">
<br>
</div>
</footer>
</div>
<div>
<div pretty-scroll-effect="" data-ng-click="openPopup($event, 'burgerPopup')" class="main_menu_burger" data-ng-class="{'show': activePopup.name === 'burgerPopup'}">
<div class="lay_button">
<span class="lay one">
&nbsp;</span>
<span class="lay two">
&nbsp;</span>
<span class="lay three">
&nbsp;</span>
</div>
</div>
<div data-ng-click="openPopup($event, 'burgerPopup')" data-ng-hide="activePopup.name === 'burgerPopup'" pretty-scroll-effect="" class="main_menu_search" id="search">

<div data-ng-click="closePopup()" class="exit main-exit">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" enable-background="new 0 0 20 20" viewBox="0 0 20 20" height="30px" width="30px" y="0px" x="0px" id="Layer_1" version="1.1">

			<polygon points="20,2.069 17.932,0 10,7.931 2.069,0 0,2.069 7.931,10 0,17.932 2.069,20 10,12.068 17.932,20  20,17.932 12.068,10 " fill="white"/>

		</svg>
</div>
</div>
</div>
<script id="burgerPopup" type="text/ng-template">

<div class="search-field">
<div >

<form autocomplete="off" action="search/index.html">
<p  data-ng-model="popupQuery"></p>

</form>
</div>
<div data-ng-init="mobile_path_burger = 'a2tech'" class="search-field__additional">
<div data-ng-click="mobile_path_burger = 'a2tech'" class="search-field__additional__item" data-ng-class="{'search-field__additional__item-selected': mobile_path_burger ===
            'gazprom'}
          ">

</div>
<div data-ng-click="mobile_path_burger = 'projects'" class="search-field__additional__item" data-ng-class="{'search-field__additional__item-selected': mobile_path_burger ===
            'projects'}
          ">

</div>
</div>
</div>
<menu data-ng-show="mobile_path_burger === 'a2tech'" class="menu-map ng-hide" data-ng-class="{'menu-map--disable': popupQuery &amp;&amp; unDisableMenu}">
<div class="menu-map__col">
	
	<div class="menu-map__section">
		<div class="menu-map__head">
			<span>
				<a href="about.html" class="no_visited alt_white">О компании
				</a>
			</span>
		</div>
		<div class="menu-map__item">




		</div>
	</div>
	<div class="menu-map__section">
		<div class="menu-map__head">
			<span>
				<a href="OURpath.html" class="no_visited alt_white">Направление деятельности
				</a>
			</span>
		</div>
		<div class="menu-map__item">




		</div>
	</div>
	<div class="menu-map__section">
		<div class="menu-map__head">
			<span>
				<a href="market.html" class="no_visited alt_white">Рынки заказчиков
				</a>
			</span>
		</div>
		<div class="menu-map__item">




		</div>
	</div>
	<div class="menu-map__section">
		<div class="menu-map__head">
			<span>
				<a href="projects.html" class="no_visited alt_white"> Референс-лист
				</a>
			</span>
		</div>
		<div class="menu-map__item">




		</div>
	</div>
	<div class="menu-map__section">
		<div class="menu-map__head">
			<span>
				<a href="SMI.html" class="no_visited alt_white">Сми о нас
				</a>
			</span>
		</div>
		<div class="menu-map__item">




		</div>
	</div>
	<div class="menu-map__section">
		<div class="menu-map__head">
			<span>
				<a href="contact.html" class="no_visited alt_white">Контактная информация
				</a>
			</span>
		</div>
		<div class="menu-map__item">




		</div>
	</div>
</div>

</menu>

</script>


</div>
<script src="f/1/global/min/main-pack.js">
 </script>
<script src="f/1/global/min/angular.js">
 </script>
<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU">
  </script>
<script src="f/1/global/min/page_contacts.js">
 </script>
<div noindex="true" style="display:none;">
<script type="text/javascript">

        
						(function(w, c) {
						(w[c] = w[c] || []).push(function() {
						try {
						w.yaCounter1446573 = new Ya.Metrika({id:1446573,
						clickmap:true,
						trackLinks:true,
						trackHash:true, webvisor:true});
						}
						catch(e) { }
						});
						})(window, "yandex_metrika_callbacks");
					
      </script>
</div>
<script defer type="text/javascript" noindex="true" src="http://mc.yandex.ru/metrika/watch.js">
</script>
<noscript>
<div>
<img alt="" style="position:absolute; left:-9999px;" src="http://mc.yandex.ru/watch/1446573">
</div>
</noscript>
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
 
</body>


</html>
